/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: sans-serif;
    font-size: 20px;
}
/* /css reset */

/* common */
.blue-btn{
    text-decoration: none;
    color: white;
    background-color: #0061ff;
    padding: .3rem;
}

.blue-btn:hover{
    background-color: #3582fd;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

/* /common */

/* header */
header{
    width: 100%;
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: purple;
}

.nav-bar{
    line-height: 30px;
}

.nav-bar ul{
    list-style: none;
    display: inline-block;
}

.nav-bar li{
    display: inline-block;
}

.nav-bar a{
    text-decoration: none;
    color: black;
}

/* header .logo-img{
    line-height: 30px;
    vertical-align: middle;
}

header .nav-bar{
    line-height: 30px;
    font-size: 0;
}

header .nav-bar ul{
    list-style: none;
}

nav > ul:first-child{
    float: left;
}

nav > ul:last-child{
    float: right;
}

header .nav-bar li{
    display: inline-block;
    padding-left: 2rem;
    font-size: 20px;
}

header .nav-bar a{
    text-decoration: none;
    color: black;
} */


/* /header */

/* main */
/* main .intro-section{
    width: 100%;
    background-color: #b4d0e7;
}

.intro-section .lateral-spaces{
    max-width: 1700px;
    margin: 0 auto;
}

.intro-section h1{
    font-size: 5rem;
    padding-top: 2rem;
}

.intro-section .article-box{
    max-width: 30%;
    padding: 2rem 0;
}

.intro-section .blue-btn{
    margin-top: 2rem;
} */


















/* /main */